#missingItemsList {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#missingItemsList thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#missingItemsList th,
#missingItemsList td {
    padding: 12px 15px;
}

#missingItemsList tbody tr {
    border-bottom: 1px solid #dddddd;
}

#missingItemsList tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#missingItemsList tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#missingItemsList tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#totalLBGames, #totalUserGames, #totalMissing {
    color: crimson;
    font-weight: bolder;
}

.error {
    color: red;
    font-weight: bolder;
    margin-left: 15px;   
}

.ok {
    color: rgb(9, 107, 9);
    font-weight: bolder;
    margin-left: 15px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }